.container{

    width: 100vw;
    height: 100vh;

   

}
.container__2 *:not(:nth-child(n+8)) {
  top: -5vh;
  position: relative;
}
.dilemme{

    width: 90%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
}

.section-about{

    width: 80%;
    margin: 0 auto;
    
}
.section, .section2{

    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
}

.circle {
    position: absolute;
    top: 43%;
    left: 60%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 450px;
    min-height: 460px;
  
  
    &-content {
      padding: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      height: 100%;
      transform: translate(-50%, -50%);
      overflow: hidden;
    }
}


.section-next2,.section-next,
.section-previous {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p{
    text-align: left;
    width: 80%;
  }
}
.section-next2{
  height: 100vh;
  
  position: absolute;
  p, .section-next__title{
    position: relative;
    top: 10%;
  }
}

.section-previous {

  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
  position: relative;
}

#section-gsap2 {
  margin-top: 150vh;
  
}

footer{
  position: fixed;
  height: 5vh;
  z-index: 100;
  bottom: -0vh;
  margin-right: 30%;
  width: 100%;
  background-color:  #9F2222;
  display: flex;
  justify-content: end;
  align-items: center;

  

  small{
    a{

      text-decoration: none;

      color: whitesmoke;
    }
    a:hover{
      color: whitesmoke;
    }
    color: whitesmoke;
  }
}

// .container__7{

//   position: absolute;
//   bottom: -100vh;
// }

.container__7 *{

  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-top: -1%;
  // top:0;
  height: 90vh;
}


@media only screen and (max-width: 799px){

    .section2{
  
      top: 70%;
      
      p{
        width: 330px;
      }
      
      .icon2{
        position: absolute;
       
        opacity: 30%;
        top: 50%;
      }
      .kast{
        width: 80%;
      }
      .sync{
        width: 70%;
        top: 20%;
      }
      .scener,.kast{
        transform: rotate(60deg);
  
      }
      #section-gsap2{
  
        .section-first{
  
          height: 50vh;
        }
      }
    }
    .section .circle{
  
      min-height: 700px;
      .text {
        top: -20%;
        position: relative;
      }
    }


    .container__3,.container__4,.container__5,.container__6,.container__7{

       width: 80%;
       margin: 0 auto;
    }
  
    
}
@media only screen and (min-width: 800px){
  
    .section2 {
      top: 170%;
      display: flex;
      .icon2{
    
        justify-content: center;
        width: 50%;
      }
      .sync{
  
        width: 20%;
      }
    }
    .section-next,
    .section-previous {
  
      p {
        width: 65%;
      }
    }
    .section-next{
      height: 50vh;
    
    }
  
    .circle{
      // top: 60%;
      width: 950px;
      min-height: 800px;
      transform: translate(-50%, -50%);
      .text {
        top: -20%;
        position: relative;
      }
    }
  
}

@media only screen and (min-width: 300px) and (max-width: 767px){


}
@media only screen and(min-width: 1024px){.circle{top: 60%;}}
@media only screen and (min-width: 801px) and (max-width: 1023px){
  .dilemme{

    .circle{
      top: 50%;
      position: relative;
      .text {
        top: 5%;
        
      }
    }
    .scene {
      margin: 0 auto;
      width: 67%;
      

    }
    .circle-content {
      
      position: absolute;
      top: 50%;
      left: 55%;
      width: 80%;
      height: 40%;
    }

  }

  .scene{
    margin-left: 5%;
    width: 80%;
  }
  img.logoStream {
    margin-left: 10%;
  }

  .titles_scroll {
    top: 30%;
    position: relative;
    font-size: 40px;
  }

  .container__6{
    .section--sync{
      .circle-content {
        padding: 1rem;
        position: absolute;
        top: 9%;
        //left: 50%;
        //width: 80%;
        //height: 70%;

        h4{
          position: relative;
          top: 42%;
        }
        .icon2{

          position: relative;
          top: 20%;
        }

        p{

          position: relative;
          top: 20%;
        }

      }
    }
  }

    
}
@media only screen and (min-width:769px) and (max-width:800px) {
  .dilemme{
    .circle-content {
      padding: 1rem;
      position: absolute;
      top: 90%;
      left: 50%;
      width: 80%;
      height: 90%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      
    }
    .section .circle .text {
      top: 5%;
      position: relative;
    }

    .scene {
      margin: 0 auto;
      width: 67%;
    }
  }
}



@media only screen and (max-width: 768px){


  .scene, .container__3,.container__4,.container__5,.container__6,.container__7{

      width: 80%;
      margin: 0 auto;
  }
  // .dilemme{

  //     width: 90%;
  //     height: 100vh;
  //     margin: 0 auto;
  //     padding: 0;
  // }
  .pin-container,.pin{
      width: 0;
  }

  .section, .section2 {
      position: absolute;
      top: 0;
      left: 0;
      // margin: auto 0;
      width: 100%;
      // height: 80vh;
      //background-color: #f27d0c;


    .text{


      margin:  50vh auto;
      z-index: 5;
    }
    span{

      position: absolute;
      text-transform: uppercase;
      top: 35%;
      left: 50%;
      font-size: 50px;
      transform: translate(-50%, -50%);
    }
    .title{

      position: absolute;
      text-transform: uppercase;
      top: 26%;
      left: 50%;
      font-size: 50px;
      transform: translate(-50%, -50%);
    }
    .scener-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%) rotate(60deg);
      z-index: 0;
      opacity: 40%;
    }
    

    .sync-logo{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      z-index: 0;
      opacity: 40%;
    }
      
        

    // .scener{

    //     background: url(../../assets/images/scener-logo-wordmark.png);
    //     background-size: 10%;
    // }
  }
  .section2{
   .title {
      top: -2%;
   }

   p{

    position: relative;

    top: 10vh;
   }


    .circle{
      position: absolute;
      top: 65%;
      left: 60%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      width: 450px;
      min-height:760px;
    }
      
    .circle-content{
      top: 70%;
    }

    .icon2{
      transform: rotate(0deg);
      top: 65vh;
    }

    .sync{

      top: 45vh;

    }


  }


  .section-next2{
    margin-bottom: 10%;

    p{
      text-align: left;
      width: 125%;
      left: 85%;
      
      transform: translate(-50%);
    }
  }





}

@media only screen and (min-width: 540px){  
  
  // .section-next2 p {
  //   text-align: left;
  //   width: 90%;
  //   left: 50%;
  //   transform: translate(-50%);
  // }
}


@media only screen and (min-width: 1024px){
    .container__1{
        display: flex;
        
        flex-direction: column;
        align-items: left;
        justify-content: center;
     
    }

    .pin{

        top: 120vh;
        position: absolute;
    }
    .pin2{
       
        position: absolute;
    }
    .pin-container{
        top: 30%;
        position: relative;
    }
    // .container__3{

    //     background: url(../assets/images/page3.png);
    //     background-size: 100%;
    //     opacity: 50%;
    // }

    .container__6{

        height: 100vh;
        width: 100%;
    }
    .section, .section2{

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        //background-color: #f27d0c;
        //background: black;

        .text{


            margin:  50vh auto;
            z-index: 5;
            top: 0;
        }
        span{

            position: absolute;
            text-transform: uppercase;
            top: 35%;
            left: 50%;
            font-size: 100px;
            transform: translate(-50%, -50%);
        }
        .title{

            position: absolute;
            text-transform: uppercase;
            top: 26%;
            left: 50%;
            font-size: 50px;
            transform: translate(-50%, -50%);
        }
        .scener-logo {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%) rotate(60deg);
            z-index: 0;
            opacity: 40%;
        }
        

        .sync-logo{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            z-index: 0;
            opacity: 40%;
        }
    }

    // h2,
    // h3 {
    //   position: relative;
    //   font-family: sans-serif;
    //   margin: 0;
    //   color: white;
    // }

  .dilemme {

    .title__h4{

      margin-top: 10%;
    }


  }

  .container__6{

    .section2{


      margin-top: 20%;
      left: -25%;

      .title__h4{
        right: 0%;
        top: 5%;
      }
    }
  }

  .container__7{
    height: 150vh;
    .first__p
    {

      width: 40%;
      left: -20%;
      // margin-top: 5%;
      margin-bottom: 15%;
    }

    p{
      width: 70%;

      
    }

  }


    
}