@import '../../node_modules/modern-normalize/modern-normalize';
@import 'utils/variables';
@import 'components/type';
@import 'components/title';
@import 'components/menu';
@import 'components/container';
@import 'components/triangleGrid';
@import 'components/bouton';
@import 'components/grid';




body{
    position: relative;
    background: linear-gradient(180deg, 
    #9F2222 0%, #872430 7.57%, 
    #6A2641 20.35%, #54274E 36.41%, #412959 63.41%,
    #322A62 82.69%, #222B6B 92.18%, #102C76 100%);
 
    color: #eee5e5;
    font-size: 25px;
    

    .logoStream{

        position: relative;
        height: 150px;
        top: 36vh;

    }

    .container__2{
        .extention__img{

            width: 200px;
            top: 45vh;
            position: relative;
            left: 10%;
        }

    }
    .image_logo{

        margin-top: 30vh;
    }

    @media only screen and (max-width: 768px){


        .container__2{
            .extention__img{

                width: 150px;
                top: 33vh;
                position: relative;
                left: 20%;
            }

        }

        .image_logo{

            display: flex;
            flex-direction: column;
            margin-top: 65%;
            left: 50%;
            transform: translate(50%);
            justify-content: start;
            
        }
    }


    
}



